<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'books_authors_app/styles/style.css' %}">
  <title>Authors Show</title>
</head>
<body>
  <div class="container">
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    <h2>ID:</h2>
    <p>{{ author.id }}</p>
    <h2>Notes:</h2>
    <p>{{ author.notes }}</p>
    <h2>Books:</h2>
    <ul>
      {% for book in author.books.all %}
      <li>{{ book.title }}</li>
      {% endfor %}
    </ul>
    <form action="/authors/{{ author.id }}/add_book" method="post">
      {% csrf_token %}
      <select name="book" id="">
        {% for book in other_books %}
          <option value="{{ book.id }}">{{ book.title }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Add">
    </form>
  </div>
</body>
</html>