<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <title>C + R Pets</title>
</head>
<body>
  <div class="container">
    <h1>All the Pets</h1>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {% for pet in pets %}
            <tr>
              <td>{{ pet['id'] }}</td>
              <td>{{ pet['name'] }}</td>
              <td>{{ pet['type'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="line"></div>
    <h2>Add a Pet</h2>
    <form action="/process" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Spot">
      <label for="type">Type</label>
      <input type="text" name="type" placeholder="dog">
      <input type="submit" value="Add">
    </form>
  </div>
</body>
</html>